<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/maxmertkit.css">
		<link rel="stylesheet" type="text/css" href="/static/css/maxmertkit-components.css">
		<link rel="stylesheet" type="text/css" href="/static/css/maxmertkit-animation.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/libs/html5shiv.js"></script>
		<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
		<script type="text/javascript" src="/static/js/plugins/maxmertkit.js"></script>
		<script type="text/javascript" src="/static/js/plugins/maxmertkit.affix.js"></script>
		<script type="text/javascript" src="/static/js/plugins/maxmertkit.popup.js"></script>
		<script type="text/javascript" src="/static/js/plugins/maxmertkit.button.js"></script>
		<script type="text/javascript" src="/static/js/plugins/maxmertkit.notify.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/zocial.css" />
        <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    </head>
        <body>
            {% block body %}
            
            {% endblock %}
        </body>    
</html>