{% extends "accounts/base.html" %}
{% block title %} Singup {% endblock %}

{% block body %}
{% for error in errors %}
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Сообщение!</h4>
  {{ error }}
</div>    
{% endfor %}
<form action="" method="post">
{{ form.as_p }}
<input type="submit" value="Отправить" class="-btn -primary-" onclick="$(this).addClass('_loading_')" />
<a class="-btn -error- -unstyled-">закрыть</a>
</form>
 <a class="zocial vk" href="{% url socialauth_begin 'vkontakte-oauth2' %}">Вход</a>
 <a class="zocial googleplus" href="/social/login/google-oauth2/">Google+</a><br>
 <a href="#" class="zocial facebook">Facebook</a>
 <a href="#" class="zocial twitter">Twitter</a>
 
{% endblock %}

